<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetbankingV1">

<listeners>

<listener class-name="com.inetbanking.utilities.mylisteners" />

</listeners>



  <test name="BankingApp Test">
      <parameter name="browser" value="chrome"/>
      <classes>
      
         <class name="com.inerbanking.testcases.TC_LoginDDT_002" />
         </classes>
         
         </test>
         </suite>